services:
  web:
    build: .
    container_name: ai-interior-designer-web
    command: python run.py
    ports:
      - "5000:5000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
      - ENABLE_SEARCH=true
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - HUGGINGFACE_HUB_TOKEN=${HF_TOKEN}
      - QDRANT_URL=${QDRANT_URL}
      - QDRANT_API_KEY=${QDRANT_API_KEY}
      - QDRANT_COLLECTION_NAME=furniture_items
      - LAMBDA_CLIP_URL=${LAMBDA_CLIP_URL}
    volumes:
      - ./backend:/app/backend
      - ./templates:/app/templates
